{% extends 'home.html' %}

{% block content %}

<h1>
    ADD A HOMEOWNER! 
</h1>
</br>

<form action="url_for('add_homeowner')" method="POST">
<div>
    {{ form.name.label }}
    {{ form.name() }}
</div>    
<div>
    {{ form.address.label }}
    {{ form.address() }}
</div>
<div>
    {{ form.phone_number.label }}
    {{ form.phone_number() }}
</div>
<div>
    {{ form.email.label }}
    {{ form.email() }}
</div>
<div>
    {{ form.avg_bill.label }}
    {{ form.avg_bill() }}
</div>
<div>
    {{ form.total_kwh.label }}
    {{ form.total_kwh() }}
</div>
<!-- <div>
    {{ form.submit_homeowner.label }}
    {{ form.submit_homeowner() }}
</div> -->
</form>




{% endblock %}